@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal


@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format("woff")
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format("woff2"), url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal