@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
.header
	background: #3F444C

	&-top
		padding: 20px 0
		max-width: 1575px
		margin: 0 auto
		transition: all .3s

		&__fixed
			position: fixed
			left: 0
			right: 0
			top: 0
			width: 100%
			max-width: none
			background: #3F444C
			padding: 20px 50px
			margin: 0 auto
			z-index: 9999
			transform: translate(0 0)

	&-write
		margin-left: 150px

.nav
	display: flex
	align-items: center

.main-menu

	li
		display: inline-block
		margin: 0 35px

		&:first-child
			margin-left: 0

		&:last-child
			margin-right: 0

		a
			position: relative
			padding: 11px 0
			font-size: 12px
			color: #ABABAB
			text-transform: uppercase

			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				height: 4px
				background: #D78E2D
				opacity: 0
				transition: all .3s
				transform: translateY(-10px)

			&:hover, &.active
				color: #fff
				opacity: 1

				&::before
					transform: translateY(0)
					opacity: 1


.icon
	display: inline-block

	&::before
		content: ''
		background-size: cover

	&-write
		width: 46px
		height: 46px
		background: url(../img/write-ic.svg)

	&-close
		width: 21px
		height: 21px
		background: url(../img/close-ic.svg)

	&-ok
		width: 111px
		height: 138px
		background: url(../img/ok-ic.svg)


.container
	max-width: 1920px
		
.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex


.right-align
	display: flex
	justify-content: flex-end

.center-align
	display: flex
	justify-content: center
	align-items: center

.flex
	display: flex
	flex-wrap: wrap

.banner
	position: relative

	> img
		display: block
		margin: 0 auto

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0

	&-text
		position: relative
		padding: 155px 0 0
		max-width: 892px
		margin: 78px auto 0

		&:before
			content: ''
			position: absolute
			left: -130px
			top: 0
			width: 130px
			height: 130px
			border: 20px solid #D78E2D

		p
			margin: 35px 0 0
			font-size: 24px
			line-height: 29px
			color: #ABABAB



.section
	padding: 35px 0

	h2
		margin: 0 0 50px
		text-align: center
		text-transform: uppercase

		>span
			position: relative
			display: inline-block
			padding: 0 0 0 15px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 20px
				width: 30px
				height: 9px
				background: #D78E2D

	&.about
		padding: 118px 0 88px
		max-width: 1180px
		margin: 0 auto

		h2
			text-align: left

		p
			margin-bottom: 25px
			line-height: 22px

blockquote
	position: relative
	padding: 0 0 0 38px
	font-size: 20px
	line-height: 24px
	font-weight: 600

	&:before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 2px
		bottom: 0
		background: #3F444C

.container-fluid
	padding-left: 35px
	padding-right: 35px

.services
	padding-bottom: 100px
	h2
		margin-bottom: 100px

	&-item
		position: relative
		background: #3F444C
		transition: all .3s

		&::before
			content: ''
			position: absolute
			left: 90px
			top: 0
			bottom: 0
			width: 1px
			background: rgba(256,256,256,.1)

		img
			opacity: .1
			width: 100%
			display: block
			transition: all .3s

		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: flex-end

			>span
				position: absolute
				top: 75%
				left: 90px
				font-size: 24px
				line-height: 29px
				color: #ABABAB
				text-transform: uppercase
				font-weight: 800
				transition: all .3s

				&::before
					content: ''
					position: absolute
					left: -46px
					top: -90px
					width: 46px
					height: 46px
					border: 10px solid #D78E2D
					transition: all .3s

			&:hover
				background: rgba(63, 68, 76, .1)
				>span
					color: #fff

					&::before
						height: 42px
						border-color: #3F444C

		&:hover
			transform: scaleY(1.1)
			img
				opacity: .8
			

.slider
	padding: 0 158px

	.slick-arrow
		width: auto
		height: auto
		opacity: 1
		&::before
			content: ''
			position: relative
			width: 43px
			height: 23px
			display: block
			opacity: 1
			z-index: 10
			transition: all .5s

		&::after
			content: ''
			width: 57px
			height: 78px
			position: absolute
			top: -26px
			border: 2px solid #D78E2D

		&:hover
			opacity: 1
			&::before
				opacity: 1
				transform: rotateX(180deg)


	.slick-next
		right: 32px
		&::before
			background: url(../img/next.svg)
		&::after
			right: -32px
			border-right: 0

		


	.slick-prev
		left: 32px
		&::before
			background: url(../img/prev.svg)
		&::after
			left: -32px
			border-left: 0

	.slick-slide
		margin-left: 15px
		margin-right: 15px
		outline: none

		img
			margin: 0 auto

.projects
	padding-bottom: 140px

	&-slider

		&__item
			position: relative

			>a.fancybox
				display: block

			img
				width: 100%

		&__info
			position: absolute
			bottom: 0
			left: 0
			width: 70%
			padding: 23px 10px 0 0
			background: #fff
			z-index: 10

			h3
				height: 33px
				text-transform: uppercase

			>span
				position: relative
				padding: 0 0 0 24px
				display: block
				min-height: 33px
				font-size: 14px
				line-height: 17px

				&::before
					content: ''
					position: absolute
					left: 0
					top: 2px
					width: 14px
					height: 14px
					background: url(../img/placeholder-ic.svg)

.fancybox-caption__body
	font-size: 20px
	font-weight: 600
	text-align: center

.progress
	padding: 40px 0

	&-wrap
		padding: 0 158px
		display: flex
		justify-content: space-between

	&-header
		width: 430px
		height: 316px
		display: flex
		flex-direction: column
		justify-content: space-between
		padding: 80px 0 80px 67px
		border: 10px solid #D78E2D

		>span
			font-size: 20px
			line-height: 24px
			text-transform: uppercase

		strong
			font-size: 32px
			line-height: 39px
			font-weight: 600

			span
				font-size: 42px
				line-height: 51px
			

	&-list
		display: flex
		flex-direction: row
		width: calc(100% - 470px)
		list-style: none
		border-top: 2px solid #3F444C
		border-bottom: 2px solid #3F444C


		li
			padding: 60px 20px
			width: 33.3333%
			display: flex
			flex-direction: column
			justify-content: space-between

		&__number
			font-size: 58px
			line-height: 71px
			font-weight: 600

		&__text
			font-size: 24px
			line-height: 29px
			text-transform: uppercase
			font-weight: 600

.team
	padding: 60px 0 120px

	&-slider

		&__item
			text-align: center

			>a
				display: block

		&__text
			margin-top: 40px

			strong
				display: block
				font-size: 20px
				line-height: 24px
				font-weight: bold

			span
				font-size: 20px
				line-height: 24px
				font-weight: 600

		&__modal.modal
			padding: 30px 60px 60px

			.modal-body
				max-width: 600px

				h3
					margin-bottom: 20px

				h4
					margin-bottom: 20px

				p
					font-size: 16px
					margin-bottom: 15px

.contacts
	position: relative
	padding: 0

	&-info
		position: absolute
		left: 158px
		top: 130px
		padding: 70px 90px
		background: #fff
		z-index: 100

		h2
			margin: 0 0 40px
			text-align: left

		&__item
			display: inline-block
			margin-bottom: 20px

			a
				display: block
				font-size: 24px
				line-height: 29px
				font-weight: 600
				text-transform: uppercase
				color: #3F444C

		p
			margin: 0 0 120px
			font-size: 24px
			line-height: 29px


#googleMap
	height: 816px
	width: 100%

.btn
	display: inline-block
	padding: 26px 55px
	font-size: 18px
	line-height: 22px
	color: #3F444C
	border: 2px solid #D78E2D
	outline: none
	background: #fff

	&:hover
		background: #D78E2D
		color: #fff
		opacity: 1

.footer
	padding: 28px 158px
	background: #3F444C

	&-copyright
		font-size: 16px
		line-height: 22px
		color: #ABABAB

	&-dev
		display: flex

		span
			display: inline-block
			padding-right: 30px
			font-size: 14px
			line-height: 17px
			color: #ABABAB

.modal
	display: none
	padding: 63px 125px 114px
	background: #fff

	.fancybox-button
		display: none

	&-header
		text-align: right
		margin-bottom: 37px

	&-body
		max-width: 370px
		width: 100%

		h2
			margin: 0 0 30px
			font-size: 32px
			line-height: 39px
			text-align: center
			text-transform: uppercase

			>span
				position: relative
				display: inline-block

				&::before
					content: ''
					position: absolute
					left: -5px
					top: 16px
					width: 18px
					height: 5px
					background: #D78E2D

		h5
			margin-bottom: 50px

	&-aftersend
		text-align: center

		.icon
			margin-bottom: 60px

		h2
			margin-bottom: 50px

	.btn
		font-size: 16px
		line-height: 20px
		padding: 16px 50px

	&-feedback
		transform: translateX(2000px)
		transition: all .5s


.fancybox-is-open
	
	.modal-feedback
		transform: translateX(0)

.form

	&-item
		margin-bottom: 30px
		padding: 7px 20px
		border: 1px solid #ABABAB

		label
			display: block
			margin-bottom: 3px
			font-size: 12px
			line-height: 15px
			color: rgba(63, 68, 76, 0.8)

		&__field
			border: none
			outline: none
			background-color: transparent
			font-size: 16px

		textarea
			height: 200px
			resize: none



	&-agreement
		margin: 0 0 30px

		input[type="checkbox"]
			display: none
			&+label
				position: relative
				display: inline-block
				font-size: 12px
				line-height: 15px
				padding-left: 21px
				color: rgba(63, 68, 76, 0.8)
				cursor: pointer

				&::before
					content: ''
					display: block
					position: absolute
					top: 2px
					left: 0
					width: 11px
					height: 11px
					border: 1px solid #ABABAB
					z-index: 1

				>a
					font-size: 12px
					line-height: 15px
					color: rgba(63, 68, 76, 0.8)
					border-bottom: 1px solid


			&:checked
				&+label
					&::before
						background-image: url(../img/check-ic.svg)
						background-repeat: no-repeat
						background-position: center
						background-size: contain

	*::-webkit-input-placeholder 
		font-size: 16px
		color: rgba(63, 68, 76, 0.4)
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

	*:-moz-placeholder 
		font-size: 16px
		color: rgba(63, 68, 76, 0.4)
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*::-moz-placeholder 
		font-size: 16px
		color: rgba(63, 68, 76, 0.4)
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-ms-input-placeholder 
		font-size: 16px
		color: rgba(63, 68, 76, 0.4)
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


.close-btn
	background-color: transparent
	outline: none
	border: none

.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)















@media only screen and (max-width: 1599px)
	.header-top
		padding: 15px 30px

	.banner-text 
		padding: 110px 0 0
		max-width: 892px
		margin: 40px auto 0

	.banner-text:before
		left: -90px
		width: 90px
		height: 90px
		border: 14px solid #d78e2d

	.banner-logo
		max-width: 600px

	.section.about
		padding: 90px 0 60px

	.services-item__overlay
		>span
			position: absolute
			top: 70%
			left: 90px
			font-size: 14px
			line-height: 24px

			&::before
				left: -40px
				top: -90px
				width: 40px
				height: 40px
				border: 8px solid #d78e2d

		&:hover
			>span
				&::before
					height: 36px

	.services, .projects
		padding-bottom: 60px

	.slider
		padding: 0 110px

	.projects-slider__info 
		h3
			min-height: 33px
			height: 100%
			font-size: 16px

		>span
			min-height: 50px

	.progress-header
		width: 320px
		height: 250px
		padding: 50px 0 50px 50px

		strong
			font-size: 26px
			line-height: 29px

			span
				font-size: 38px

	.progress-list
		width: calc(100% - 360px)

		&__number
			font-size: 45px
			line-height: 60px

		&__text
			font-size: 14px
			line-height: 20px

	.team 
		padding: 40px 0 90px

	.contacts-info
		left: 110px
		padding: 40px 60px

		p
			margin: 0 0 70px
			font-size: 18px
			line-height: 24px

	#googleMap
		height: 700px
















@media only screen and (max-width: 1199px)
	.header-write 
		margin-left: 100px

	.banner-text
		padding: 70px 0 0
		max-width: 757px

		&::before
			left: -50px
			width: 50px
			height: 50px
			border: 8px solid #d78e2d

		p
			font-size: 20px
			line-height: 25px

	.banner-logo
		max-width: 540px


	.progress-wrap
		padding: 0 110px

	.section h2
		margin: 0 0 30px

	h2
		font-size: 36px
		line-height: 44px

	.section.about 
		padding: 60px 0 10px

	.section h2>span::before
		top: 19px
		width: 30px
		height: 6px

	.footer
		padding: 28px 110px



	.services
		.row
			display: flex
			flex-wrap: wrap


		&-item
			margin-bottom: 30px

			&__overlay
				>span
					padding-right: 20px
					top: 75%
					left: 90px
					font-size: 20px
					line-height: 26px

					&::before
						left: -46px
						top: -90px
						width: 46px
						height: 46px
						border: 10px solid #D78E2D


	.about
		.row
			margin: 0 10px


	.projects, .services
		padding-bottom: 0


	.progress 
		padding: 70px 0 30px

	.progress-wrap 
		padding: 0 30px













@media only screen and (max-width: 991px)
	a.logo
		max-width: 180px

	.main-menu li
		margin: 0 20px

	
	.header-write 
		margin-left: 60px

	.banner-text 
		padding: 30px
		margin: 0
		display: flex
		flex-direction: column
		justify-content: space-between

		.banner-logo
			max-width: 75%

		p
			font-size: 18px
			line-height: 22px

	.progress-wrap
		display: block

	.progress-header
		display: block
		width: auto
		height: auto
		padding: 0 0 30px
		border: none
		text-align: center

		>span
			display: block
			font-weight: 800
			font-size: 32px

		br
			display: none

	.progress-list
		width: auto

	.contacts-info
		position: static
		padding: 40px 0

	.team
		padding: 40px 0 20px

	.contacts-info
		text-align: center

		h2
			text-align: center

		p
			margin-bottom: 30px

	.btn
		padding: 20px 55px

	#googleMap
		height: 300px















@media only screen and (max-width: 767px)
	.header-top
		position: relative
		&__fixed
			position: fixed
	.burger-menu
		display: inline-block
	.main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: calc(100% + 1px)
		background: #fff
		z-index: 999

		li
			display: block
			margin: 0
			padding: 5px 0
			a
				display: block
				text-align: center
				color: #3F444C
				font-weight: 600

				&::before
					display: none

				&.active, &:hover, &:focus
					color: #3F444C

	.banner-text p 
		margin: 15px 0 0
		font-size: 16px
		line-height: 20px

	
	.about-img
		margin: 0 0 25px

	.slider
		padding: 0 50px

	.slider .slick-prev,.slider .slick-prev::after
		left: 0

	.slider .slick-next, .slider .slick-next::after
		right: 0

	.slider
		.slick-prev::after, .slick-next::after
			width: 30px

	.progress-list
		display: block
		text-align: center

		li
			width: auto
			padding: 15px 0
			text-align: center

			&:first-child
				padding-top: 30px

			&:last-child
				padding-bottom: 30px

	.footer
		display: block
		padding: 20px 0
		text-align: center

		&-dev
			display: inline-flex
			margin-top: 10px

	.team-slider__modal.modal
		padding: 20px 15px 30px

	.modal
		padding: 20px 30px 30px

	.team-slider__modal.modal
		img
			margin-bottom: 15px

















@media only screen and (max-width: 480px)
	.header-top
		padding: 10px 15px 5px
	
	a.logo
		max-width: 120px

	.header-write
		margin-left: 30px

	.banner-text
		padding: 15px

		p
			margin: 10px 0 0
			font-size: 12px
			line-height: 14px
			color: #fff

	.section.about
		padding: 30px 0 10px

		h2
			text-align: center

	.about .row 
		margin: 0

		[class^="col"]
			padding-left: 15px
			padding-right: 15px

	blockquote
		padding: 0px 0 0 30px
		font-size: 18px
		line-height: 22px

	.team-slider__text 
		margin-top: 15px

	.services-item__overlay
		>span
			position: absolute
			top: 70%
			left: 90px
			font-size: 14px
			line-height: 20px

			&::before
				left: -40px
				top: -90px
				width: 40px
				height: 40px
				border: 8px solid #d78e2d

		&:hover
			>span
				&::before
					height: 36px

	.contacts-info__item a
		font-size: 18px
		line-height: 26px

	.container-fluid
		padding-left: 15px
		padding-right: 15px

	h2
		font-size: 30px

	.projects-slider__info
		position: static
		width: auto
		padding: 15px 0 0 0